<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Кредитный калькулятор</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header th:insert="header1 :: hh"></header>
  <div class = "container mt-5">

    <h2>Кредитный калькулятор</h2>
    <br>

    <form th:method="POST" th:action="@{/}">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <label for="dropDownList4">Сумма кредита</label>
            <input type="text" class="form-control" id="dropDownList4"  >
          </div>

          <div class="col-md-3">
            <label for="dropDownList">Вид кредита</label>
            <select class="form-select" id="dropDownList">
              <option value="0">Выберите вид кредита</option>
              <option th:each="option : ${type}" th:value="${option.id}" th:text="${option.creditname}"></option>
            </select>
          </div>

          <div class="col-md-3">
            <label for="dropDownList1">Валюта</label>
            <select class="form-select" id="dropDownList1">
              <option value="0">Выберите валюту</option>
              <option th:each="option : ${currency}" th:value="${option.id}" th:text="${option.currencyname}"></option>
            </select>
          </div>

          <div class="col-md-3">
            <label for="dropDownList2">Срок</label>
            <select class="form-select" id="dropDownList2">
              <option value="0">Выберите срок</option>
              <option th:each="option : ${term}" th:value="${option.id}" th:text="${option.term}"></option>
            </select>
          </div>

        </div>
      </div>
      <form>
  </div>
</body>
</html>